



        <h1>Doggie Daycare</h1>
        <h3>About Us</h3>
        <p>Central Bark® Doggy Day Care first opened its den in 1997 to support the growing number of people who realize that dogs are not just pets. Our pups are friends, companions and family members. And they’re individuals with unique personalities and needs.</p>

<p>We also understood that more than ever before, today’s busy lifestyles make it difficult to give pets the attention, structure, training, exercise and mental stimulation necessary for happy and well-rounded lives. And the reality is, dogs crated or isolated for extended periods are deprived of social interaction, and can become lethargic or destructive.</p>




