@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
   background-image: image-url('dog_bkgd2.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
